body {
  background-color: whitesmoke;
  max-width: 1200px;
  margin-block: 50px;
  margin: auto;
}

.section {
  border: 3px solid white;
}

  #searchBar {
    padding: .1rem;
    background-color: beige;
  }

  #searchBarField {
    width: 50%;
    height: 10%;
    padding: 2rem;
    border-radius: 3px;
  }

#homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
} 

#leftSide {
    width: 55%;
    overflow: auto;
    background-color: bisque;
  }

  #rightSide {
    width: 45%;
    height: 100vh;
    background-color: whitesmoke;
    color: blueviolet ;
  }

  #empPageHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: rgb(184, 206, 255);
    color: black;
  }

  #backBtn {
    margin: 1.5rem;
    padding: .25rem;
    height: 2rem;
    flood-opacity: initial ;
  }

